<!DOCTYPE html>
<html>
<head>
    <title>Scanner de QR Code</title>
</head>
<body>
<div>
    <video id="preview"></video>
    <script type="text/javascript" src="https://unpkg.com/instascan@1.0.0/build/instascan.min.js"></script>
    <script type="text/javascript">
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {
        console.log(content);
        fetch('/save_scan/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({ url: content })
        }).then(response => response.json())
          .then(data => console.log(data));
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
    </script>
</div>
</body>
</html>